.Admission-form{
  padding: 5% 15%;
  padding-bottom: 10px !important;
}

.Login-fields{
  text-align: left;
}
.Admission-logo img{
  width: 25px;
}
.class{
  width: 185px;
  margin-right: 30px;
}
.Birth-date{
  width: 185px;
}
.Field-group-adm{
  margin-bottom: 0px;
}
.Field-group-adm label{
  font-size: 10px;
}
.Field-group-adm .Input-text{
  font-size: 12px;
  height: 25px;
}
.Inline-block{
  display: inline-block;
  margin: 0 10px;
}
.elm-class{
  width: 50%;
}
.Adm-Btn-primary{
  width: 160px;
  padding: 4px !important;
}
.Adm-btn-container{
  margin-top:30px;
  margin-bottom: 0;
}
.hidden{
  display: none;
}
input[type='radio']{
  width: 16px;
  height: 16px;
}
.id_card_icon{
  width: 11px;
  margin-top: -2px;
  margin-right: 4px;
}
.photo_icon{
  width: 15px;
  margin-right: 4px;
  margin-top: -2px;
}
.Upload-id{
  border: 1px solid;
  border-radius: 4px;
  padding: 6px 15px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #c7c0f34d;
  width: 100%;
  color: #1100B4;
  margin-bottom: 1px;
  font-weight: 600;
  font-size: 10px;
}

.Card-icon{
  padding: 0 6%;
  position: relative;
  margin-top: 5px;
}
.Photo-icon{
  padding: 0 6%;
  position: relative;
  margin-top: 5px;
}
.doc-text{
  font-size: 9px;
  width: 135px;
  display: block;
  overflow: hidden;
}
.Upload_area{
  margin: 0 auto;
  text-align: center;
  margin-top: 5px;
}       
/* toggle in label designing */ 
.toggle { 
  position: relative;
  display: inline-block;
  width: 55px;
  height: 26px;
  background-color: #969292;
  border-radius: 30px;
  border: 2px solid #9b8fef;
} 
.react-datepicker__month-select{
  border: 1px solid #e4e4e4;
  background-color: #f0f0f0;
  border-radius: 4px;
  outline: none;
}  
.react-datepicker__year-select{
  border: 1px solid #e4e4e4;
  background-color: #f0f0f0;
  border-radius: 4px;
  outline: none;
}   
/* After slide changes */ 
.toggle:after { 
content: '';
position: absolute;
width: 25px;
height: 23px;
border-radius: 50%;
background-color: white;
top: -1px;
left: 0px;
transition: all 0.5s;
} 
      
/* Toggle text */ 
p.yes-no-text { 
font-size: 12px;
color: white;
padding: 2px 3px;
} 
.text-error{
  border:1px solid #ff292991 !important;
}   
.dob-error input{
  border:1px solid #ff292991 !important;
}
/* Checkbox cheked effect */ 
.Admission-checkbox:checked + .toggle::after { 
  left : 26px;  
} 
      
/* Admission-Checkbox cheked toggle label bg color */ 
.Admission-checkbox:checked + .toggle { 
  background-color: #6A47E9; 
} 
      
/* Admission-Checkbox vanished */ 
.Admission-checkbox {  
  display : none; 
} 
.appointment-text{
color: #1100B4;
margin-bottom: 1px;
font-weight: 500;
font-size: 13px;
/* margin: 0px 22px; */
display: inline-block;
margin-right: 15px;
}
.appointment-div{
  margin: 10px auto;
  text-align: left;
}
.male-icon{
  background-image: url('../../icons/male-gender.png');
  display: inline-block;
  width: 20px;
  padding: 10px;
  vertical-align: -webkit-baseline-middle;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}
.App-date-time-block{
  margin-top: -20px;
  text-align: left;
}

.female-icon{
  background-image: url('../../icons/femenine.png');
  display: inline-block;
  width: 20px;
  padding: 12px;
  vertical-align: -webkit-baseline-middle;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-size: contain;
}
.gender-label{
  color: black !important;
  margin: 0px 8px 0px 0px;
}
#male,#female{
  vertical-align: middle;
}
#male{
  margin-right: 40px;
}
.class-date{
  margin-left: 35px;
}
#class_date{
  width: 150px;
  margin-right: 30px;
}
.class-time{
  width: 150px;
}
.react-datepicker__input-container{
  display: block;
}
.react-datepicker-wrapper{
  display: block;
}
/* #dob{
  height: 10px !important;
  padding-left: 10px !important;
  font-size: 11px !important;
} */
.dob-input{
  outline: none;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 150px;
  color: #75758a;
  font-size: 12px;
  background: #fafafa;
}
/* .date-input{
  outline: none;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 165px;
  height: 30px;
  color: #75758a;
  font-size: 13px;
  background: #fafafa;
  padding-left: 35px;
} */
.calendar-body{
  position: relative;
}
.dob-icon{
  position: absolute;
  background-image: url('../../icons/calendar_blue.png');
  display: inline-block;
  width: 14px;
  padding: 9px;
  vertical-align: -webkit-baseline-middle;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-size: contain;
  right: 5px;
  bottom: 4px;
}
.date-icon{
  position: absolute;
  display: inline-block;
  width: 30px;
  padding: 3px 5px;
  vertical-align: -webkit-baseline-middle;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0px;
  background-color: #533ceb;
  border-radius: 4px 0 0 4px;
  left: 0px;
}
.date-icon img{
  width: 20px;
}
textarea {
  resize: none;
}
.text-danger small{
  font-size: 10px !important;
}
.text-danger{
  margin: 0;
  margin-top: -7px;
}
.time-body .date-input{
  width: 110px !important;
}


@media(min-width:720px){
  .class {
    width: 160px;
    margin-right: 38px;
  }
}
@media (max-width:720px){
  .Admission-logo img{
    display: none;
  }
  .Field-group-adm .Input-text{
    height: 30px;
  }
  /* #dob {
    height: 15px !important;
    border-radius: 20px !important;
    font-size: 12px;
  } */
  .Admission-form{
    padding: 1% 8% !important;
    margin-bottom: 20px;
  }
  .visitor-section .side-panel{
    min-height: 100% !important;
  }
  .Admission-form .Login-fields{
    padding-top:25px;
  }
  .Admission-form .Inline-block{
    /* width: 140px !important; */
    margin: 0;
  }
  .Admission-form .Inline-block input,select{
    width: 135px !important;
  }
  .dob-icon{
    right:10px;
  }
  .Upload-id{
    width: 125px !important;
    display: block;
  }
  .Upload_area .Inline-block{
    width:auto !important;
    padding: 0 3px;
  }
  .Upload_area{
    margin-top: 10px;
  }
  #container-circles{
    bottom: 0 !important;
  }
  .App-date-time-block {
    padding: 0 !important;
    margin-top: -10px;
  }
  .appointment-div {
    /* margin: 10px 60px !important; */
  }
  .Adm-btn-container {
    margin-top: 25px !important;
  }
  .elm-class {
    width: 50% !important;
  }
  .dob-input{
    width: 130px !important;
  }
  .source{
    width: 100% !important;
  }
  .date-input{
    font-size: 10px !important;
  }
  .app-date{
    margin-right: 10px !important;
  }
  .time-field{
    width:110px !important;
  }
}
@media (min-width: 1680px){
}
@media (min-width:1380px){
  .Field-group-adm .Input-text{
    height: 32px;
  }
  .Field-group{
    margin-bottom: 5px;
  }
  .Field-group-adm label {
    font-size: 11px;
  }    
  .dob-icon{
    bottom: 7px;
  }
  .Admission-form {
    padding: 5% 17%;
  }
  /* #dob{
    height: 15px !important;
    padding-left: 10px !important;
    font-size: 15px !important;
  } */
} 

.MuiInput-underline:before {
    display: none !important;
}
.MuiInput-underline:after {
  display: none !important;
}
@media(max-width:380px){
  .img-box img {
    width: 32px !important;
    margin-right: 12px;
}
.content-box h4 {
  font-size: 14px !important;
}
}