@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/sofia-pro');
body {
  margin: 0;
  font-family: 'Hind', 'Sofia Pro' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}